<section>
    <div class="trenner"></div>


    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-6">Kros RTS</div>
            <div class="datum col-md-6">2019</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2019" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2019.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2019.2" | translate}} <br>
                    </p>
            </div>

            <div class="image col-12 col-md-6">
                <img class="img-fluid" src="../../assets/img/kros2019.jfif" alt="">
                <img class="img-fluid" src="../../assets/img/kros20192.jfif" alt=""> 
                <img class="img-fluid" src="../../assets/img/kros20193.jfif" alt="">
            </div>
        </div>
    </div>


    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-6">Kros RTS</div>
            <div class="datum col-md-6">2018</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2018" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2018.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2018.2" | translate}} <br>
                    </p>
            </div>

            <div class="image col-12 col-md-6">
                <img class="img-fluid" src="../../assets/img/kros2018.jfif" alt="">
                <img class="img-fluid" src="../../assets/img/kros20182.jfif" alt=""> 
                <img class="img-fluid" src="../../assets/img/kros20183.jfif" alt="">
            </div>
        </div>
    </div>

    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-8">Kros RTS</div>
            <div class="datum col-md-4">2017</div>
        </div>
        <div class="main">
            <div class="text col-md-8">
                {{"kros2017" | translate}} <br>
                {{"kros2017.1" | translate}} <br>
                <a
                    href="https://www.facebook.com/watch/?v=1395542907180435&extid=NS-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing">Facebook-Video</a>
            </div>

            <div class="image col-md-4 embed-responsive embed-responsive-16by9 ">
                <iframe style="padding: 1rem;" src="https://www.youtube.com/embed/d46G2c8z8n8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-8">Kros RTS</div>
            <div class="datum col-md-4">2015</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-8">
                {{"kros2015" | translate}}
            </div>

            <div class="image col-12 col-md-4">
                <img class="img-fluid" src="../../assets/img/kros1.jfif" alt="">
            </div>
        </div>
    </div>
</section>