<section id="kros2">
    <div id="kros">
        <div class="trenner"></div>


        <div style="border: 1px solid grey;" class="card card-profile container shadow">
            <div class="header">
                <div class="title col-md-6">Kros RTS</div>
                <div class="datum col-md-6">2021</div>
            </div>
            <div class="main">
                <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2019" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2019.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2019.2" | translate}} <br>
                    </p>
                </div>

                <div class="image col-12 col-md-6">
                    <img src="../../assets/img/kros20192.jfif" alt="">
                    <img src="../../assets/img/kros20193.jfif" alt="">
                    <img src="../../assets/img/kros20194.jfif" alt="">
                </div>
            </div>
        </div>


        <div class="trenner"></div>

        <div style="border: 1px solid grey;" class="card card-profile container shadow">
            <div class="header">
                <div class="title col-md-6">Kros RTS</div>
                <div class="datum col-md-6">2018</div>
            </div>
            <div class="main">
                <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2018" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2018.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2018.2" | translate}} <br>
                    </p>
                </div>

                <div class="image col-12 col-md-6">
                    <img src="../../assets/img/kros2018.jfif" alt="">
                    <img src="../../assets/img/kros20182.jfif" alt="">
                    <img src="../../assets/img/kros20184.jfif" alt="">
                </div>
            </div>
        </div>

        <div class="trenner"></div>

        <div style="border: 1px solid grey;" class="card card-profile container shadow">
            <div class="header">
                <div class="title col-md-8">Kros RTS</div>
                <div class="datum col-md-4">2017</div>
            </div>
            <div class="main">
                <div class="text col-md-8">
                    <p>
                        {{"kros2017" | translate}}
                    </p>
                    <p>
                        {{"kros2017.1" | translate}} <br>
                        <a
                            href="https://www.facebook.com/watch/?v=1395542907180435&extid=NS-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing">Facebook-Video</a>
                    </p>

                </div>

                <div class="image col-md-4 embed-responsive embed-responsive-16by9 ">
                    <iframe style="padding: 1rem;" src="https://www.youtube.com/embed/d46G2c8z8n8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="trenner"></div>

        <div style="border: 1px solid grey;" class="card card-profile container shadow">
            <div class="header">
                <div class="title col-md-8">Kros RTS</div>
                <div class="datum col-md-4">2016</div>
            </div>
            <div class="main">
                <div class="text col-12 col-md-8">
                    <p>
                        {{"kros2016" | translate}}

                    </p>
                    <p><a href="http://krosrts.rs/kros-rts-a-u-roterdamu-3/#">Kros 2016</a></p>
                </div>

                <div class="image col-12 col-md-4">
                    <img src="../../assets/img/kros2016.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="trenner"></div>

        <div style="border: 1px solid grey;" class="card card-profile container shadow">
            <div class="header">
                <div class="title col-md-8">Kros RTS</div>
                <div class="datum col-md-4">2015</div>
            </div>
            <div class="main">
                <div class="text col-12 col-md-8">
                    <p>
                        {{"kros2015" | translate}}
                    </p>
                </div>

                <div class="image col-12 col-md-4">
                    <img src="../../assets/img/kros1.jfif" alt="">
                </div>
            </div>
        </div>
    
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
</div>

</section>
