
  <section class="card card-profile shadow" id="slk">
    <p class="text-center p-lg-4" style="font-size: 33px; font-weight: 700; padding: 33px;">{{'druzimo' | translate}}</p>
    <p style="font-size: 21px;" class="text-center"> {{'skola2' | translate}} <br></p>
    <p style="font-size: 14px;" class="text-center">
      {{'skola3' | translate}}
      <br> {{'casovi' | translate}}
    </p>
    <div class="richtlinie">
      <div class="klBox ">
        <img class="img-fluid" src="../../assets/img/herz.png" alt="">
      </div>
      <p style="text-align: center;"> {{'osnova'| translate}} </p>

      <div class="klBox ">
        <img class="img-fluid mx-auto"  src="../../assets/img/pfeil.png" alt="">

      </div>
      <p style="text-align: center;"> {{'osnova2'| translate}} </p>

      <div class="klBox ">
        <img class="img-fluid"  src="../../assets/img/blatt.png" alt="">
      </div>
      <p style="text-align: center;"> {{'osnova3'| translate}} </p>
    </div>
  </section>
  <div class="trenner"></div>

  <div class="card card-profile shadow tab">
    <h1  style="font-size: 42px;"> {{'vesti' | translate}}</h1>
    <p style="font-size: 21px; " class="description">
      {{'pocetak1' | translate }}<br><br>
      {{'pocetak2' | translate}} <br><br>
      {{'pocetak4' | translate}} <br><br>
      {{'pocetak5' | translate}}
    </p>
  </div>
  <div class="trenner"></div>
