<div
  style="
    height: 200px;
    margin: 21px;
    background-image: url('../../assets/img/Unbenannt.png');
    background-repeat: no-repeat;
    background-position: center;
  "
  class="trenner"
></div>

<div class="card card-profile shadow tab">
  <h1 style="font-size: 28px; font-weight: 600">{{ "druzimo" | translate }}</h1>
  <p style="font-size: 21px" class="description p-sm-3 p-lg-5">
    {{ "pocetak1" | translate }}<br /><br />
    {{ "pocetak2" | translate }} <br /><br />
    {{ "pocetak4.1" | translate }} <br /><br />
    {{ "pocetak4" | translate }} <br /><br />
  </p>
</div>
<div class="trenner"></div>

<section class="card card-profile shadow" id="slk">
  <p class="text-center" style="font-size: 21px">
    {{ "pocetak4" | translate }}
  </p>
  <p class="text-center" style="font-size: 21px">{{ "podaci1" | translate }}</p>

  <!-- <p style="font-size: 21px;" class="text-center"> {{'skola2' | translate}} <br></p>
    <p style="font-size: 21px;" class="text-center">
      {{'skola3' | translate}}
      <br> {{'casovi' | translate}}
    </p>
-->
  <div class="richtlinie">
    <div class="klBox">
      <img class="img-fluid" src="../../assets/img/herz.png" alt="" />
    </div>
    <p style="text-align: center">{{ "osnova" | translate }}</p>

    <div class="klBox">
      <img class="img-fluid" src="../../assets/img/pfeil.png" alt="" />
    </div>
    <p style="text-align: center">{{ "osnova2" | translate }}</p>

    <div class="klBox">
      <img class="img-fluid" src="../../assets/img/blatt.png" alt="" />
    </div>
    <p style="text-align: center">{{ "osnova3" | translate }}</p>
  </div>
</section>

<div class="trenner"></div>

<div
  style="
    width: fit-content !important;
    background-color: rgba(206, 204, 111, 0.678) !important;
  "
  class="card card-profile shadow tab"
>
  <p style="font-size: 18px" class="description">
    {{ "podaci3" | translate }}<br />
    {{ "podaci4" | translate }}<br />
    {{ "podaci4.1" | translate }} <br />
    {{ "podaci5" | translate }}<br />
    {{ "podaci6" | translate }}<br /><br />
    {{ "podaci8" | translate }}<br />
    {{ "podaci9" | translate }}<br />
    {{ "podaci10" | translate }}<br />
  </p>
</div>
<div class="trenner"></div>
<hr />

<div class="trenner"></div>

<section class="vesti card card-profile shadow tab">
  <div class="cardFront">
    <img id="frontImg" class="frontImage" [src]='imagePath' />
    <div class="frontTextC scroll">
      <p id="frontText">
        {{ frontText }}
      </p>
    </div>
  </div>
</section> 
<div class="vestiNavigation">
  <button class="button button08" (click)="getPreviousVesti()">Predhodna Vest</button>
  <button class="button button08" (click)="getNextVesti()">Sledeca Vest</button>
  <button class="button button08" (click)="getPictures">Slike</button>

</div>
<div class="trenner"></div>

<div class="trenner"></div>
