<main>
  <section>
    <img class="img-fluid rounded mx-auto d-block" src="../../assets/img/maxresdefault.jpg" alt="">
  </section>


  <section style="background-color:rgb(252,163,121)!important;" class="sect shadow">
    <h2> {{'nastava' | translate}}</h2>
    <p style="font-size: 21px; font-weight: 600;" class="description">{{'nastava1' | translate}}</p>
    <p style="font-size: 19px;" class="description"> {{'nastava2' | translate}} <br><span style="font-weight: 600;">
        {{'nastava3' | translate}} </span> {{'nastava4' | translate}}
      <br><span style="font-weight: 600;"> {{'nastava5' | translate}} </span> {{'nastava6' | translate}}
      <br><span style="font-weight: 600;"> {{'nastava7' | translate}} </span> {{'nastava8' | translate}}
      <br> <br> {{'nastava9' | translate}}
      <br> <br> {{'nastava10' | translate}}
    </p>
    <span style="font-size: 21px;">
      <br>{{'prenastava' | translate}} <br> <br>
      <br>{{'prenastava1' | translate}}<br> <br>
      <br>{{'poslenastava2' | translate}}<br> <br>
      <br>{{'poslenastava3' | translate}}<br> <br>
      <br>{{'poslenastava4' | translate}}<br> <br>
      <span style="font-weight: 700;"> <br>{{'poslenastava5' | translate}}<br> <br></span>

    </span>
  </section>


  <section style="background-color: antiquewhite !important;" class="sect shadow">
    <h2>{{'kalendar1' | translate}}</h2>
    <p style="font-size: 21px; font-weight: 600;" class="description"> {{'kalendar2' | translate}} </p>
    <img class="img-fluid" src="../../assets/img/kalend.png" alt="">
    <p> {{'kalendar3' | translate}} <br> <br>
      {{'kalendar4' | translate}} <br> <br>
      {{'kalendar5' | translate}}
      <br> <br>
      {{'kalendar6' | translate}}
    </p>
  </section>

  <section style="background-color:rgb(120,245,255)!important;" class="sect shadow">

    <h2> {{'pribor' | translate}}</h2>
    <p style="margin-top: 30px;"><span style="font-size: 21px; font-weight: 600;"> {{'pribor1' | translate}}
        <br> </span>
      {{'pribor2' | translate}} <br>
      {{'pribor3' | translate}} <br>
      {{'pribor4' | translate}} <br>
      {{'pribor5' | translate}} <br><br>
      {{'pribor6' | translate}}
    </p>
  </section>
  <div class="trenner"></div>

</main>