<main>
  <div class="position-relative">
    <section id="backImg" class="section section-lg section-shaped pb-150">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Aktovnosti nase organizacije
                <span>SOP Rotterdam</span>
              </h1>
              <p class="lead  text-white">U skladu sa nasim timom pruzimo deci casove u umetinickom folkloru i dopunske casove srpskog jezika.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
