#backImg {
    //background-image: url(../../assets/img/89345595_1618233841668483_6694992061772333056_n-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width:260px) {

    #titule {
        padding-top: 100px;
    }

}

@media (min-width:900px) {

    #titule {
        font-size: 42px;
    }

}
