<main>
  <div class="position-relative">
    <section id="backImg" class="section section-lg section-shaped pb-150">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div id="titule" class="col-lg-6">
            <h1 class="display-3 text-white">
              {{ "aktivnosti" | translate }}
              <span>SOP Rotterdamа</span>
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section
      style="background-color: antiquewhite !important"
      class="section pb-100 mt-5 mb-4"
    >
      <div class="container">
        <div class="row row-grid align-items-center shadow">
          <div class="col-lg-6 order-lg-1">
            <div class="pl-4">
              <h4 class="display-3">{{ "folkTitl" | translate }}</h4>
              <p class="">
                {{ "lokacija" | translate }}
                <br />
                <br />
                SPORTCENTRUM DE WILGENRING
                <br />
                Melanchtonweg 70
                <br />
                3052 KV Rotterdam
                <br />
                <br />
                {{ "deca" | translate }}
                <br />
                {{ "sred" | translate }}
                <br />
                <br />
                <span class="text-bold">{{ "kore" | translate }}</span>
                <br />
              </p>
            </div>
          </div>
          <div
            class="
              col-lg-6
              order-lg-2
              shadow
              embed-responsive embed-responsive-16by9
            "
          >
            <iframe
              class="embed-responsive-item pr-lg-5"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/1vfWWJxr8uE"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="container"></section>
  </div>
</main>
