
.logo {
    width: 50px; 
    height: 50px;
    border-radius: 32px;
}

#dropLogo {
    width: 100px;
    border-radius: 32px;
    height: 70px;
}
.navbar-main{
    background-image: linear-gradient(antiquewhite,white );
}

#naslov {
    color: rgb(250, 103, 103); 
    margin: auto;

}

#navlink {
    color: rgba(82, 44, 219, 0.836)!important;
    font-size: 15px;

}

#navlink:hover {
    font-size: 18px;

}

.nav-link {
    color: rgba(39, 39, 39, 0.849)!important;
    font-size: 18px;

}

.nav-link:hover {
    font-size: 26px;
}

#more {display: none;}

@media screen and (min-width: 330px) {

    #naslov {
        font-size: 22px!important;
    }
    
}

@media screen and (min-width: 390px) {

    #naslov {
        font-size: 25px!important;
    }
    
}

@media screen and (min-width: 430px) {

    #naslov {
        font-size: 30px!important;
    }
    
}

@media screen and (min-width: 480px) {

    #naslov {
        margin-right: 50px;
    } 
    
}


@media screen and (min-width: 530px) {

    #naslov {
        margin-right: 88px;
    } 
    
}