
.logo {
    width: 100px;
    height: 70px;
    border-radius: 32px;
}

#dropLogo {
    width: 100px;
    border-radius: 32px;
    height: 70px;
}
.navbar-main{
    background-image: linear-gradient(antiquewhite,white );
}

#naslov {
    color: rgb(0, 0, 0);
}

#navlink {
    color: rgba(82, 44, 219, 0.836)!important;
    font-size: 15px;

}

#navlink:hover {
    font-size: 18px;

}

.nav-link {
    color: rgba(39, 39, 39, 0.849)!important;
    font-size: 18px;

}

.nav-link:hover {
    font-size: 26px;
}

#more {display: none;}

@media screen and (max-width: 767px) {

    .logo {
        width: 100px;
        height: 70px;
        border-radius: 32px;
        margin: auto;

    }
}