<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/skola']">
      <img class="logo" src="../../assets/img/wg.PNG">
    </a>
    <span style="color: rgb(250, 103, 103); font-size: x-large;" id="naslov">Srpska dopunska skola</span>
    <button style=" background-color: rgb(245, 225, 113);padding: 4px; border-radius: 11px;" class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"  ></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/skola']">
              <img id="dropLogo" class="logo" src="../../assets/img/wg.PNG">
            </a>
          <span  style="color: rgb(250, 103, 103); font-size: x-large;" id="naslov">Srpska dopunska skola</span>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto" style="font-size: x-large;">
        <li class="nav-item">
          <a id="navlink" [routerLink]="['/prva']" class="nav-link nav-link-icon">Pocetna</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-envelope"></i>
            <span class="nav-link-inner--text d-lg-none">E-mail</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
    <div class="position-relative" >
      <section style="padding:100px 0 0 0;">
        <div class="container shape-container d-flex align-items-center py-lg ">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="lead pt-lg-5" style="font-size: 30px;">Dobro došli na internet sajtu koji vam pruži pogled u suprottredam i dopunsku školu.</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container" style="margin-bottom: 100px;">
        <div class="row justify-content-center">
          <div class="col-lg-6 p-lg-5 pb-5 justify-content-center">
            <span  style="font-size: 21px; font-weight: 700;"> Српски језик , културу и историју за ученике основних школа. <br></span>
            <p style="font-size: 19px;" > 
              Под покровитрељством Министарства просвете, науке  и технолошког развоја  Републике Србије.
              <br> <br> Часови су бесплатни.
              </p>
              <img style="width: 100%; height: auto; margin: auto;" src="../../assets/img/Unbenannt.png" alt="">
              <div class="row justify-content-center p-lg-3 pt-lg-5">
              <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/img/herz.png" alt="">
              <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/img/pfeil.png" alt="">
              <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/img/blatt.png" alt="">
              
            </div>
          </div>
          <div class="col-lg-6">
           <p class="text-center" style="font-size: 21px; font-weight: 700;">ДОЂИТЕ  ДА СЕ ДРУЖИМО И КРОЗ ИГРУ УЧИМО !!!     </p>
              <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                  <ngb-tab>

                    <ng-template ngbTabTitle>
                       Pocetak
                    </ng-template>
                      <ng-template ngbTabContent>
                       <p style="font-size: 21px;" class="description">Упис у Српску допунску школу за школску 2021/ 2022.<br><br> годину  је у току и одвија се под покровитељством Министарства просвете, науке и технолошког развоја Републике Србије  и потпомогнута од стране удружења СОП Ротердам.<span id="dots">...</span><br><br><button onclick="myFunction()" id="myBtn">opsirnije</button> <br><br>
                        <span id="more"> Школа је бесплатна а ученици поред тога што ће учити српски језик, ћирилично писмо, “путоваће”  Србијом , кроз историју, географију, традицију и културу својих предака.<br><br>
                          Најважније  је да се сви лепо дружимо , учимо и заједно растемо !</span>
                          </p>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      Podaci
                    </ng-template>
                      <ng-template ngbTabContent>
                        <p style="font-size: 21px;" class="description">НАШЕ ОДРЕДНИЦЕ :</p>
                        <p class="description">ОСНОВА -СРЦЕ ЗА  НАШУ ДЕЦУ. ЦИЉ -УЧЕЊЕ И ДРУЖЕЊЕ.   РЕЗУЛТАТИ- СРЕЋНИЈИ, ОБРАЗОВАНИЈИ И БОЉИ. <br> <br>
                          Контакт  :   СОП Ротердам  admin@soprotterdam.com<br> 
                          Наставник:  Стана Полачек<br> 
                          Место:   Melanchthon Schiebroek<br> <br>
                          Van Bijnkershoekweg 97, 3052 PB Rotterdam<br> <br>
                          Време: субота <br> <br> 1. млађа група  од 10:00 до 12 :15 асова<br> <br>
                                                     2.средња група од 12:25 до 14:40 часова<br> <br>
                                                     3. виша група од 14:45 до 16:45  часова<br> <br>
                          </p>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                        Nastava
                    </ng-template>
                      <ng-template ngbTabContent>
                        <p style="font-size: 21px; font-weight: 700;" class="description">Посебан програм</p>
                        <p style="font-size: 19px;"  class="description"> основног образовања и васпитања у иностранству реализује се на три узрасна ниво: <br><span style="font-weight: 700;">млађем</span>  ( први, други и трећи разред), <br><span style="font-weight: 700;">средњем </span> ( четврти, пети и шести разред) и <span style="font-weight: 700;"> старијем</span> ( седми и осми разред) из три предемта: Српски језик, Моја отаџбина Србија и  Основи културе српског народа.
                          <br> <br>  Настав ће се изводити са децом ураста од 6 до 15 година. 
                         <br> <br> Настав ће се изводити суботом од 10:00  до 17 :00 часова<span id="dots">...</span><br><br><button onclick="myFunction()" id="myBtn">opsirnije</button> <br><br>
                         <span id="more">   Наставник за наредну школску годину је Стана Полачек, професор српског језика и књижевности из Ротердама<div class="br"></div>
                     <br>   Уколико сте заинтересовани да Ваше дете похађа наставу српсог језика, да се дружи, игра и пева са осатлом децом, јавите се на : spolacek@gmail.com  или admin@soprotterdam.com
                     <br>      Увек постоји могућност отварања нових група. </span>
                          
                          </p>
                      </ng-template>
                  </ngb-tab> 
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                        Kalendar
                    </ng-template>
                      <ng-template  ngbTabContent>
                        <p style="font-size: 21px; font-weight: 700;" class="description">ШКОЛСКИ КЛЕНДАР  ЗА ШКОЛСКУ 2021/2022 ГОДИНУ</p>
                         <img id="myimage" style="width: 100%; height: auto; margin: auto;" src="../../assets/img/kalend.png" alt="">
                        <p>ДАН ПРИМИРЈА,  11 новембар <br> <br>
                          ДАН ДРЖАВНОСТИ РЕПУБЛИКЕ СРБИЈE, 15. фебруар<br> <br>
                         ИНДИВИДУАЛНИ РОДИТЕЉСКИ САСТАНЦИ : Свакe суботе, када се одржава допунска настава у терминима после наставе , према потреби и жељи родитеља. 
                         <br> <br>
                         Датуми наведени у календару могу да се промене у зависности од околности. Родитељи ће бити благовремено обавештени.
                         </p>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                        Pribor
                    </ng-template>
                      <ng-template  ngbTabContent>
                        <p style="margin-top: 30px;"><span style="font-size: 21px; font-weight: 700;"> Од школског материјала неопходно је да деца имају: <br> </span>
                          -	Велику свеску А4  на линије <br>
                          -	Оловку и гумицу/оштрач<br>
                          -	Дрвене бојице<br>
                          -	Мапу/ фациклу<br> <br>
                          Истовремено је неопходно да  сваке суботе имамо  по два дежурна родитеља чији је задатак да припазе на децу за време паузе и  након часова да сви заједено  поспремимо учионицу и собу за професоре, у којима могу да бораве родитељи, док чекају своју децу. Дежурстава родитеља ћемо  заједно договорити.
                          </p>
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
        </div>
      </div>
    </div> 
  </main>
  
  