<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/skola']">
     
    </a>
    <span id="naslov">{{'vrtic' | translate}}</span>
    <div>
    <a (click)="switchLang('nl')" class="p-lg-4 p-3"  ><img  src="../../../assets/img/flag_of_the_netherlands.jpg" width="30" height="20"/></a>
    <a (click)="switchLang('rs')" class="p-lg-4 p-3" ><img  src="../../../assets/img/srpska zastava.jpg" width="29" height="20"/></a>
  </div>
    <button style=" background-color: rgb(245, 225, 113);padding: 4px; border-radius: 11px;" class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"  ></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
          <span  style="color: rgb(250, 103, 103); font-size: x-large;" id="naslov">{{'skola' | translate}}</span>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto" style="font-size: x-large;">
        <li class="nav-item">
          <a id="navlink" [routerLink]="['/pocetna']" class="nav-link nav-link-icon">{{'pocetna' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-envelope"></i>
            <span class="nav-link-inner--text d-lg-none">E-mail</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="trenner"></div>
<!--
<main>
    <div class="position-relative" >
      <section style="padding:100px 0 0 0;">
        <div class="container shape-container d-flex align-items-center py-lg ">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-8 text-center">
                <span class="pb-lg-3" style="color: #000; font-size: 30px; display: block;">{{'skola1' | translate}}</span>
                <span class="text-muted " style="color: rgba(43, 43, 43, 0.678); font-size: 25px;">{{'skola1.1' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="card card-profile shadow ">
            <div class="row justify-content-center">
                <div >
              </div>
            </div>
            <div class=" border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <div style="margin-bottom: 100px;">
                    <div class="row justify-content-center">
                      <div class="col-lg-5 pt-5 pb-5 justify-content-center">
                      
                          <img style="width: 100%; height: auto; margin: auto;" src="../../assets/img/Unbenannt.png" alt="">
                          <div class="row justify-content-center p-lg-3 pt-lg-5">
                            <img style="width: 120px; height: 100px; margin: auto;" src="../../assets/img/herz.png" alt="">
                            <img style="width: 120px; height: 100px; margin: auto; margin-bottom: 33px;" src="../../assets/img/pfeil.png" alt="">
                            <img style="width: 120px; height: 100px; margin: auto;" src="../../assets/img/blatt.png" alt="">
                          <p style="font-weight: 800"> {{'osnova'| translate}} </p>
                          <p style="font-weight: 800"> {{'osnova2'| translate}} </p>
                          <p style="font-weight: 800"> {{'osnova3'| translate}} </p>
                        </div>
                      </div>
                      <div class="col-lg-7">
                          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                              <ngb-tab>
            
                                <ng-template ngbTabTitle>
                                   {{'vesti' | translate}}
                                </ng-template>
                                  <ng-template ngbTabContent>
                                   <p style="font-size: 21px;" class="description">{{'pocetak1' | translate }}<br><br> {{'pocetak2' | translate}} <br><br>
                                    {{'pocetak4' | translate}} <br> <br>
                                    {{'pocetak5' | translate}} 
                                    <span id="dots">...</span>
                                    <span id="more">
                                      <p style="font-size: 21px;" class="description"><br><br> {{'podaci1' | translate}}</p>
                                      <p style="font-size: 18px;" class="description">
                                        {{'podaci3' | translate}}<br> 
                                        {{'podaci4' | translate}}<br> 
                                        {{'podaci5' | translate}}<br> <br>
                                        {{'podaci6' | translate}}<br> <br>
                                        {{'podaci7' | translate}} <br> <br> {{'podaci8' | translate}} <br> <br>
                                                                   {{'podaci9' | translate }}<br> <br>
                                                                   {{'podaci10' | translate}}
                                        </p></span>

                                        <br>  <button onclick="myFunction()" style="padding:0px 12px 0px 12px; background-color: antiquewhite; border-radius: 21px; cursor: pointer;" id="myBtn">+</button>
                                      </p>
                                  </ng-template>
                              </ngb-tab>
                              <ngb-tab>
                                <ng-template ngbTabTitle>
                                  {{'nastava' | translate}}
                                </ng-template>
                                  <ng-template ngbTabContent>
                                    <p style="font-size: 21px; font-weight: 700;" class="description">{{'nastava1' | translate}}</p>
                                    <p style="font-size: 19px;"  class="description"> {{'nastava2' | translate}} <br><span style="font-weight: 700;"> {{'nastava3' | translate}} </span> {{'nastava4' | translate}}  
                                    <br><span style="font-weight: 700;"> {{'nastava5' | translate}} </span> {{'nastava6' | translate}} 
                                    <br><span style="font-weight: 700;"> {{'nastava7' | translate}} </span> {{'nastava8' | translate}}
                                    <br> <br>   {{'nastava9' | translate}}
                                    <br> <br> {{'nastava10' | translate}}  
                                      </p>
                                      <span id="dots">...</span>
                                    <span style="font-size: 21px;" id="more">
                                      <br>{{'prenastava' | translate}} <br> <br>
                                      <br>{{'prenastava1' | translate}}<br> <br>
                                      <br>{{'poslenastava2' | translate}}<br> <br>
                                      <br>{{'poslenastava3' | translate}}<br> <br>
                                      <br>{{'poslenastava4' | translate}}<br> <br>
                                     <span style="font-weight: 800;"> <br>{{'poslenastava5' | translate}}<br> <br></span>
                                      
                                    </span>
                                      <br>  <button onclick="myFunction()" style="padding:0px 12px 0px 12px; background-color: antiquewhite; border-radius: 21px; cursor: pointer;" id="myBtn">+</button>
                                  </ng-template>
                              </ngb-tab> 
                              <ngb-tab>
                                <ng-template ngbTabTitle>
                                    {{'kalendar1' | translate}}
                                </ng-template>
                                  <ng-template  ngbTabContent>
                                    <p style="font-size: 21px; font-weight: 700;" class="description"> {{'kalendar2' | translate}} </p>
                                     <img id="myimage" style="width: 100%; height: auto; margin: auto;" src="../../assets/img/kalend.png" alt="">
                                    <p> {{'kalendar3' | translate}} <br> <br>
                                     {{'kalendar4' | translate}} <br> <br>
                                     {{'kalendar5' | translate}}
                                     <br> <br>
                                     {{'kalendar6' | translate}}
                                     </p>
                                  </ng-template>
                              </ngb-tab>
                              <ngb-tab>
                                <ng-template ngbTabTitle>
                                    {{'pribor' | translate}}
                                </ng-template>
                                  <ng-template  ngbTabContent>
                                    <p style="margin-top: 30px;"><span style="font-size: 21px; font-weight: 700;"> {{'pribor1' | translate}} <br> </span>
                                      {{'pribor2' | translate}} <br>
                                      {{'pribor3' | translate}} <br>
                                      {{'pribor4' | translate}} <br>
                                      {{'pribor5' | translate}} <br><br>
                                      {{'pribor6' | translate}}
                                      </p>
                                  </ng-template>
                              </ngb-tab>
                          </ngb-tabset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div> 
  </main>
  
  -->