.logo {
    width: 150px!important;
    height: 160px!important;
}


#naslov {
    color: rgb(255, 255, 255);
}

#navlink {
    color: rgb(159, 212, 255);
}

#navlink:hover {
    color: rgb(0, 107, 194);
}

