<nav *ngIf="nav.visible" id="navbar-main" class="
    navbar navbar-main navbar-expand-lg navbar-transparent navbar-light
    headroom headroom--top headroom--pinned 
  ">

  <div>
   <center> <img (mouseover)="showa = true " (mouseout)="showa = false " class="logo"
      src="../../../assets/img/heder-mirnije.png" type="button" ></center> 
    <a class="navbar-brand"> 
      <img  *ngIf="!showa" id="logo" class="logo2" src="../../../assets/img/wg.PNG" [routerLink]="['/pocetna']" />
    </a>
  </div>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbar_global">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed" style="width: fit-content;">
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="collapse-close">
          <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
          </button>
        </div>
      </div>
      <div style="margin-top: -120px!important;" class="wrapper2">
        <img   src="../../../assets/img/heder-mirnije.png" alt="">
        <br>
        <span class="nasll">{{ "ministar2" | translate }}</span>
        <span class="nasll">{{ "ministar1" | translate }}</span>
      </div>
    </div>
    <ul style="align-items: center;" class="navbar-nav align-items-lg-center">
      <li>
        <a (click)="switchLang('nl')" style="padding-right: 5px;"><img src="../../../assets/img/flag_of_the_netherlands.jpg" width="30"
            height="20" /></a>
        <a (click)="switchLang('rs')"  ><img src="../../../assets/img/srpska zastava.jpg"
            width="30" height="20" /></a>
      </li>
      <li class="nav-item">
        <a id="navlink" style="margin-left: 10px!important;" [routerLink]="['/pocetna']" class="nav-link nav-link-icon">{{ "pocetna" | translate }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/vest']" class="nav-link nav-link-icon">{{ "vesti" | translate }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/aktivnosti']" class="nav-link nav-link-icon">{{ "nastava" | translate
          }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/skola']" class="nav-link nav-link-icon">{{ "vrtic" | translate }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/udz']" class="nav-link nav-link-icon">{{ "udz" | translate }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/galerija']" class="nav-link nav-link-icon">{{ "galerija" | translate }}</a>
      </li>
      <li class="nav-item">
        <a id="navlink" [routerLink]="['/kontakt']" class="nav-link nav-link-icon">{{ "kontakt" | translate }}</a>
      </li>
    </ul>

    <div style="width: 333px; text-align: center; margin: auto;">
      <h4 style="font-weight: 600; font-size: 16px; font-family: Gabriela, serif;" *ngIf="showa">{{ "ministar1" |
        translate }} <br>  {{ "ministar2" |
        translate }}</h4>
    </div>

  </div>

</nav>