#navbar-main {
    //border: 1px solid black;
    padding: 21px;
    position: sticky!important;
    width: 90%;
    justify-content: space-between!important;
}


#navbar_global {
   // border: 1px solid black;
    flex-grow: 0;
    width: fit-content!important;
    display: flex;
    justify-content: end;
    align-self: center;
}

#skola {
    position: absolute; 
    left: 43%; 
    font-size: 88px;
}

.logo {
    width: 200px!important;
    height: 150px!important;
}

#navlink {
    font-size: 21px;
    font-weight: 666;
    color: rgb(25, 112, 36)!important;
}

#navlink:hover {
    color: rgb(21, 101, 167);
}

@media (min-width:280px) {

    #skola {
        font-size: 57px;
        left: 30%;
        top: 88%;
    }
    
    .logo {
        width: 150px!important;
        height: 100px!important;
    }
    
}

@media (min-width:300px) {
    #skola {
        left: 33%;
    }
    
}

@media (min-width:340px) {
    #skola {
        left: 37%;
    }
}

@media (min-width:410px) {
    #skola {
        left: 41%;
    }
}

@media (min-width:510px) {
    #skola {
        left: 45%;
        top: 20%;
    }
}

@media (min-width:800px) {
    #skola {
        left: 48%;
    }
}

@media (min-width:990px) {
      
    #skola {
        left: 47%;
        font-size: 77px;
    }
    
}

@media (min-width:1400px) {
    #navbar-main {
        //border: 1px solid black;
        padding: 21px;
    }
    
    
    #navbar_global {
       // border: 1px solid black;
    }
    
    #skola {
        position: absolute; 
        left: 43%; 
        font-size: 88px;
    }
    
    .logo {
        width: 200px!important;
        height: 150px!important;
    }
    
    #navlink {
        font-size: 21px;
        font-weight: 666;
        color: rgb(25, 112, 36)!important;
    }
    
    #navlink:hover {
        color: rgb(21, 101, 167);
    }
    
}