.logo {
    width: 100px!important;
    height: 100px!important;
}


#naslov {
    margin: 21px 21px 21px 0; 
    color: rgb(255, 255, 255); 
    white-space: nowrap; 
    font-size: 18px; 
    order: 2;
}

#navlink {
    color: rgb(159, 212, 255);
}

#navlink:hover {
    color: rgb(0, 107, 194);
}


@media (min-width:347px) {
  
    #naslov {
        font-size: x-large; 
        margin-right: 66px;

    }
    
}


@media (min-width:420px) {
  
    #naslov {
    margin: 21px 21px 21px 21px; 
    margin-right: 88px;
    }
    
}
    

@media (min-width:470px) {
  
    #naslov {
        font-size: 33px; 
    }
    
    }
    
@media (min-width:520px) {
  
    #naslov {
        margin-right: 133px;
    }   
    
}
     
@media (min-width:570px) {
  
    #naslov {
        margin-right: 150px;
    }   
    
}
               
@media (min-width:900px) {
  
    #naslov {
        margin-right: 0px;
    }   
    
}
            