<nav
  *ngIf="nav.visible"
  id="navbar-main"
  class="
    navbar navbar-main navbar-expand-lg navbar-transparent navbar-light
    headroom headroom--top headroom--pinned 
  "
>

    <a class="navbar-brand" >
      <img
        class="logo" 
        src="../../../assets/img/wg.png" 
      />
    </a>


    <button
      style=" background-color: rgb(25, 112, 36); padding: 3px;"
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"
      style="font-size: 21px; ">
      </span>
    </button>

    <h1 id="skola" >Skola</h1>


    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div  class="navbar-collapse-header">
        <div class="row">
          <div class="col-9 collapse-brand">
            <a [routerLink]="['/pocetna']">
              <img
                class="logo"
                src="../../../assets/img/wg.png"
              />
            </a>
          </div>
          <div class="col-3 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
            </button>
          </div>
        </div>
      </div>
      <ul
        class="navbar-nav align-items-lg-center"
        style="font-size: x-medium;"
      >
      <li>


      </li>
        <li class="nav-item">
          <a
            id="navlink"
            [routerLink]="['/aktivnosti']"
            class="nav-link nav-link-icon"
            >{{ "aktivnosti" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            id="navlink"
            [routerLink]="['/galerija']"
            class="nav-link nav-link-icon"
            >{{ "galerija" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            id="navlink"
            [routerLink]="['/kontakt']"
            class="nav-link nav-link-icon"
            >{{ "kontakt" | translate }}</a
          >
        </li>

      
      </ul>
  </div>
</nav>
