<main>
  <div style="width: 100%; margin: 0;" class="position-relative">

    <section style="padding: 0!important;" class="section section-lg">
      <div class="container">
        <div class="card card-profile tab" style="padding: 21px; margin: auto; width:fit-content; text-align: center;">
          <h1 style="font-size:  42px;">
            {{'kontakt' | translate}}
          </h1>
          <p style="font-size: 18px;" class="description">
            {{'kontakt0' | translate}}<br>
            {{'kontakt0.1' | translate}}<br><br>
            {{'kontakt1' | translate}}<br>
            {{'kontakt1.1' | translate}}<br><br>
            {{'kontakt2' | translate}}<br>
            {{'kontakt2.1' | translate}}<br>
          </p>
        </div>
      </div>
    </section>
    <section class="container">
     
      <form [formGroup]="subscribeForm" novalidate (ngSubmit)="sendMail($event)">
        <input type="text" placeholder="Enter your email" formControlName="email"/>
        <button class="button margin-top-15" type="submit">Subscribe</button>
    </form>

      <form [formGroup]="subscribeForm" novalidate (ngSubmit)="sendMail($event)">


        
        <div class="row mt-5 ">
          <div class="col-6 ">
            <input class="form-control mb-3" type="text" name="name" formControlName="email" placeholder="{{'ime' | translate}}" required />
          </div>
          <div class="col-6">
            <input class="form-control mb-3" type="email" name="email" placeholder="{{'majl' | translate}}" required />
          </div>
          <div class="col-12 ">
            <textarea class="form-control contact-message" name="message" placeholder="{{'poruka' | translate}}"
              required></textarea>
          </div>
        </div>
        <div class="text-center mb-5">
          <button type="submit" class="mt-4 mb-1 btn btn-primary">{{'posalji' |
            translate}}</button>
        </div>
      </form>
    </section>
  </div>
</main>