<main>
  <div style="width: 100%; margin: 0;" class="position-relative">

    <section style="padding: 0!important;" class="section section-lg">
      <div class="container">
        <div class="card card-profile tab" style="padding: 21px; margin: auto; width:fit-content; text-align: center;">
          <h1 style="font-size:  42px;">
            {{'kontakt' | translate}}
          </h1>
          <p style="font-size: 18px;" class="description">
            {{'kontakt0' | translate}}<br>
            {{'kontakt0.1' | translate}}<br><br>
            {{'kontakt1' | translate}}<br>
            {{'kontakt1.1' | translate}}<br><br>
            {{'kontakt2' | translate}}<br>
            {{'kontakt2.1' | translate}}<br>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>