<main>
    <section>
      <img class="img-fluid rounded mx-auto d-block" src="../../assets/img/maxresdefault.jpg" alt="">
    </section>
  
  
    <section style="text-align:center; background-color:rgb(255, 232, 202)!important;" class="sect shadow">
      <h2> {{'nastava' | translate}}</h2>
      <p style="font-size: 19px;" class="description">
        {{'prenastava' | translate}} <br><br>
        {{'prenastava1' | translate}} <br> <br>
        {{'nastava2' | translate}} <br>
        <span style="font-weight: 600;"> {{'nastava3' | translate}}</span>
        {{'nastava4' | translate}}<br>
        <span style="font-weight: 600;"> {{'nastava5' | translate}} </span>
        {{'nastava6' | translate}}<br>
        <span style="font-weight: 600;"> {{'nastava7' | translate}} </span>
        {{'nastava8' | translate}}<br> <br>
  
  
        {{'nastava9' | translate}}<br>
        {{'nastava10' | translate}}
        <span style="font-weight: 600;"> {{'nastava10.1' | translate}} </span>
        {{'nastava10.2' | translate}} <br><br>
  
        {{'poslenastava2' | translate}} <br><br>
        {{'poslenastava3' | translate}} <br><br>
        {{'poslenastava4' | translate}} <br><br>
      </p>
      <span style="font-size: 21px;">
        <span style="font-weight: 700;"> {{'poslenastava5' | translate}} </span>
  
      </span>
    </section>
  
  
    <section style="text-align:center; background-color: rgb(255, 217, 168) !important;" class="sect shadow">
      <h2>{{'kalendar1' | translate}}</h2>
      {{'kalendar2' | translate}}<br><br>
      <img class="img-fluid" src="../../assets/img/kalend.png" alt=""><br><br>
      <p style="font-weight: 600;">
        {{'kalendar3' | translate}}<br><br>
        {{'kalendar4' | translate}}<br><br>
        {{'kalendar5' | translate}}<br><br>
        {{'kalendar6' | translate}}<br><br>
      </p>
    </section>
  
    <div class="trenner"></div>
  
    <section style="max-width: 70%; margin: auto; padding: 21px; background-color: rgb(255, 203, 136)!important;"
      class=" shadow">
  
      <h1 style="text-align: center; text-decoration: underline;font-size: 28px;"> {{'pribor' | translate}}</h1>
      <p style="margin-top: 30px;">
        {{'pribor0' | translate}} <br>
        {{'pribor1' | translate}}<br> <br> 
        {{'pribor2' | translate}} <br>
        {{'pribor3' | translate}} <br>
        {{'pribor4' | translate}} <br>
        {{'pribor5' | translate}} <br><br>
        {{'pribor6' | translate}}
      </p>
    </section>
  
  
  </main>