#backImg {
  background-image: url(../../assets/img/970cba6b03f716ee8ad49b0a3e7fc6a4.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#slk {
  background-color: rgb(8, 34, 80);
  font-size: 21px;
  font-weight: 600;
  color: white;
  border-radius: 33px;
  width: 77%;
  padding: 33px;
  margin: auto;
}

.richtlinie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
  align-items: center;
  border-radius: 21px;
}
img {
  margin: auto;
}

.klBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 11px;
}

.hoverIn {
  transition: all 1s ease;
  box-shadow: 1px 6px 21px 3px #000000;
  border-radius: 33px;
  background-color: rgb(30, 141, 104) !important;
}

.hoverOut {
  transition: all 1s ease;
  box-shadow: 1px 6px 21px 3px #000000;
  border-radius: 33px;
  background-color: rgb(8, 34, 80) !important;
}


@media (min-width:280px) {
    
  .tab {
    width: 80%;
    margin: auto;
    padding: 21px;
    color: black;
    text-align: center;
  }

}
  

@media (min-width:400px) {
    
  .tab {
    width: 60%;
  }
  
      
  }
  

@media (max-width: 720px) {
  .richtlinie {
    flex-direction: column;
    justify-content: space-between;
  }
}
