<main>
  <div class="position-relative">
    <section id="backImg" class="section section-lg section-hero section-shaped">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">

          </div>
        </div>
      </div>
    </section>
    <section class="section mb-5">
      <div class="profile-page">
        <div class="container">
          <div class="card card-profile shadow mt--200">
            <div class="px-4">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a [routerLink]="['/skola']"> <img src="../../assets/img/kids-school-logo-vector-22907690.jpg"
                        class="rounded-circle"></a>
                  </div>
                </div>
              </div>
              <div class="mt-5 py-5 border-top text-center">
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <section>
                      <div class="text-center">
                        <span class="pb-lg-3" style="color: #000; font-size: 30px; display: block;">{{'skola1' |
                          translate}}</span>
                        <span class="text-muted " style="color: rgba(43, 43, 43, 0.678); font-size: 25px;">{{'skola1.1'
                          | translate}}</span>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <div class="trenner"></div>
    <section class="card card-profile shadow" id="slk">
      <p style="font-size: 33px;" class="text-center"> {{'skola2' | translate}} <br></p>
      <p style="font-size: 19px;" class="text-center">
        {{'skola3' | translate}}
        <br> {{'casovi' | translate}}
      </p>
      <div class="richtlinie">
        <div class="klBox ">
          <img class="img-fluid" src="../../assets/img/herz.png" alt="">
        </div>
        <p style="text-align: center;"> {{'osnova'| translate}} </p>

        <div class="klBox ">
          <img class="img-fluid mx-auto"  src="../../assets/img/pfeil.png" alt="">

        </div>
        <p style="text-align: center;"> {{'osnova2'| translate}} </p>

        <div class="klBox ">
          <img class="img-fluid"  src="../../assets/img/blatt.png" alt="">
        </div>
        <p style="text-align: center;"> {{'osnova3'| translate}} </p>

      </div>

    </section>
    <div class="trenner"></div>

    <div class="card card-profile shadow tab">
      <h1  style="font-size: 42px;"> {{'vesti' | translate}}</h1>
      <p style="font-size: 21px; " class="description">
        {{'pocetak1' | translate }}<br><br>
        {{'pocetak2' | translate}} <br><br>
        {{'pocetak4' | translate}} <br><br>
        {{'pocetak5' | translate}}
      </p>
    </div>

    <div class="trenner"></div>

    <div style="width: fit-content!important;" class="card card-profile shadow tab">

      <h1 style="font-size:  33px;">
        {{'podaci1' | translate}}
      </h1>
      <p style="font-size: 18px;" class="description">
        {{'podaci3' | translate}}<br>
        {{'podaci4' | translate}}<br>
        {{'podaci5' | translate}}<br> <br>
        {{'podaci6' | translate}}<br> <br>
      </p>
    </div>

    <div class="trenner"></div>

    <section class="section">

    </section>

    <img src="../../assets/img/logo.png" style="margin: auto; width: 100%;" alt="">
  </div>

</main>