
#slk {
    background-color:rgb(46, 46, 46) ;    
    border-radius: 4px;
}

.hoverIn {
    transition: all 1s ease;
    box-shadow: 1px 6px 21px 3px #000000;
    border-radius: 33px; 
    background-color:rgb(30, 141, 104)!important;    
  }

  .hoverOut {
    transition: all 1s ease;
    box-shadow: 1px 6px 21px 3px #000000;
    border-radius: 33px; 
    background-color:rgb(8, 34, 80)!important;    
  }

  @media (min-width: 280px) {
    
    #frontPagePictures {
      width: 100%;
      background-color: rgb(108, 236, 194);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }

  #a {
    display: none;
  }

  #abc {
    display: none;
  }
  }

  @media (min-width: 400px) {
    
    #frontPagePictures {
      width: 90%;
      margin: auto;
      padding: 2rem;
      background-color: rgb(108, 236, 194);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      img {
        max-width: 90%;
        margin: auto;
        height: auto;
      }
    }

  }


  @media (min-width:800px) {
        
  #frontPagePictures {
    width: 90%;
    margin: auto;
    padding: 2rem;
    background-color: rgb(108, 236, 194);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    img {
      max-width: 29%;
      height: auto;
    }
  }
    #a {
      display: flex;
    }

    #abc {
      display: flex;
    }
  }

  @media (min-width:1400px) {
    
  #frontPagePictures {
    margin-top: 25px;
    width: 95%;
    margin: auto;
    padding: 2rem;
    background-color: rgb(108, 236, 194);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 28%;
      height: auto;
    }
  }
  }
    