<main>
  <section
    id="frontPagePictures"
    class="section section-lg section-hero section-shaped shadow"
  >
    <img
      id="a"
      class="shadow"
      src="../../assets/img/Kros-RTS-a-za-decu-u-dijaspori.jpg"
      alt=""
    />
    <img id="ab" class="shadow" src="../../assets/img/whas.jpg" alt="" />
    <img
      id="abc"
      class="shadow"
      src="../../assets/img/vaterpolo2017.jfif"
      alt=""
    />
  </section>
  <section class="section mb-5">
    <div class="profile-page">
      <div class="container">
        <div class="card card-profile shadow mt--200">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <img src="../../assets/img/kros.png" class="rounded-circle" />
                </div>
              </div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p style="font-size: 21px">{{ "krosRts" | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="trenner"></div>
  <div class="artboard">
    <div class="cardz">
      <div class="cardz__side cardz__side--back">
        <div class="cardz__cover">
          <h4 class="cardz__heading">
            <span class="cardz__heading-span"
              >Srpsko Omladinsko Prijateljstvo "SOP"</span
            >
          </h4>
        </div>
        <div class="cardz__details">
          <div class="scroll">
            <input type="checkbox" class="read-more-state" id="post-1" />

            <p class="read-more-wrap">
              {{ "sopInfo" | translate }}
              <span class="read-more-target">{{ "sopInfo2" | translate }}</span>
            </p>

            <label for="post-1" class="read-more-trigger"></label>
          </div>
        </div>
      </div>

      <div class="cardz__side cardz__side--front">
        <div class="cardz__theme">
          <div class="cardz__theme-box">
            <p class="cardz__subject">Stichting</p>
            <p class="cardz__title">SOP Rotterdam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trenner"></div>
  <div class="trenner"></div>
  <div class="trenner"></div>
  <section style="margin: 33px !important" id="slk" class="section m-2 m-md-4">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/UDc-2_-mhbY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-md-6 text-center" style="color: white">
          <h3 style="color: white">{{ "video" | translate }}</h3>
          <p class="lead">{{ "video2" | translate }}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="trenner"></div>

  <section class="section">
    <div class="profile-page">
      <div class="container">
        <div style="margin: auto">
          <img
            class="shadow"
            width="100%"
            height="auto"
            src="../../assets/img/spende.png"
          />
        </div>
        <div class="p-3 card card-profile shadow mt-5">
          <div class="text-center mt-2 p-3">
            <h3>{{ "promocija1" | translate }}</h3>
            <div class="h6 font-weight-300">{{ "promocija2" | translate }}</div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <p class="pl-3 pr-3 pl-md-0 pr-md-0">
                ❤A Markovic , M. Keljevic, N. Vojvodic, S. Nenic, D. Jekic , N.
                Ceho , A. Oprin, K. Tezyk ,T. Panzalovic , I. Potocnik , I.
                Stankovic, L. Stankovic , Z. Stevic, Z. Kojic, D. Mihic , W.
                Waalring, JJc van Bouwhorst , E. Hasicic , B. Malovic , B. Kilic
                , M. Tankos , M. Bilgin , E. Ileri , M. Sroczynski , M. Kocak,
                O. Aktalan , D. Stevanovic , M. Kirli, W. de Groen, R. Markovic
                , J.G Louwman , G. Ayhan, Y.E Akman, M. Radosavljevic, J.
                Kalicanin , H. Eser , C. Eser , C. Erol , J. Franken , I. van
                Eijk , A. Arcun, V.I Getrouw, I.S Vreugt , F. Kirli , M. Gumus ,
                M. Kirli , A. Kirli , J. Trumpaitis , A. Sargit , L. Tavcer , H.
                Soerotaroeno, D. Matijas , M. Jordacevic Armitage, O. Golijanin
                , M. Konjevic, M.A Stamper-Leon, S. Sarkanovic , N. Sabic , D.
                Fonseca , M. Simidzija, D. Konjevic, D. Patkovic, J. Jovic, M.
                Kolundzija, D. Zdravkovic , N. Dragojevic , A. Vukas , M. Vukas
                , J. Jankovic, N. Boksan , B. Sicar , M. Vojvodic , S. Vujnovic
                , R. Simic , D. Gvozdenac ,N. Mastilovic, A. Vukmanovic, M.
                Jordacevic , R. Rajakovic , A. Vasic , S. Cetojevic , S.
                Cvjeticanin , S. Popovic , P. Joldic , N. Stankovic , D. Beslac,
                A. Fekec , M. Nikic , B. Vojnovic , D. Skoric , B. Zoric , D.
                Vukojevic , B. Dragojevic , M. Gavrilovic ,V. Pejasinovic , B.
                Martinovic, O. Markovic , Z. Markovic , B. Sicar , R.
                Gvozdenovic , D. Djuricic , N. Zotovic , S. Peric , N. Brkovic ,
                T. Turcan ,N. Rakovic, S. Pejic , N. Rajkovic , V. Bogdanovic ,
                D. Vasiljevic , Z. Arsic , S. Popratina , S. Kuljaca , F. Pavlic
                , D. Vuckovic , J. Samardzija , P. Krcun , ARBO Rotterdam ❤
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="trenner"></div>
  <!--
    <section class="section">
      <div class= "profile-page card card-profile ">
            <div class="row justify-content-center">
              <div class="shadow container" style="background-color: rgba(32, 26, 26, 0.849); color: rgb(194, 194, 194); " >
                <div class="text-center mt-2 p-3 ">
                  <h2 style="color: white; padding-bottom: 21px;">{{"info" | translate}}
                  </h2>
                  <h5 style="color: white;">{{ "info2" | translate}}</h5>
                </div>
                  <div  class="row justify-content-center ">
                    <div class="col-lg-9">
                      <p style="text-align: left; font-size: 19px;" class=" pl-3 pr-3 pl-md-0 pr-md-0 "><span > Распоред за фолклор је следећи:</span><br>
                        {{ "info3" | translate}}<br>
                        <br><span >{{"lokacija" | translate}}</span><br>
                        {{ "info4" | translate}}
                        <br> <br><span >{{"uplata" | translate}}</span><br>
                        {{"info5" | translate}}
                        <br><br><span >{{"racun" | translate}}</span><br>
                        Stichting SOP Rotterdam
                        NL 97 RABO 0310651867
                        {{"info6" | translate}}
                        </p>                      
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </section>
-->
  <img
    src="../../assets/img/logo.png"
    style="margin: auto; width: 100%"
    alt=""
  />
</main>
