<section style="background-color:rgba(255, 255, 255, 0.204); margin-top: -100px;" >
    <div style="border: 1px solid grey;" class="card card-profile container shadow mt--200">
        <div class="header">
            <div class="title col-md-6">Athletic</div>
            <div class="datum col-md-6">2019</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-6">
                <p>
                    {{"atletik" | translate}} <br>
                </p>
            </div>

            <div class="image col-12 col-md-6">
                <img  src="../../assets/img/atletik.jfif" alt="">
            </div>
        </div>
    </div>


    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-8">Box</div>
            <div class="datum col-md-4">2018</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-8">
                <p style="text-align: center;">
                    {{"boks" | translate}} <br>
                </p>
            </div>

            <div class="image col-12 col-md-4">
                <img  src="../../assets/img/boks.jfif" alt="">
            </div>
        </div>
    </div>
</section>