<section>
    <div class="trenner"></div>


    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-6">Kros RTS</div>
            <div class="datum col-md-6">2019</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2019" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2019.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2019.2" | translate}} <br>
                    </p>
            </div>

            <div class="image col-12 col-md-6">
                <img class="img-fluid" src="../../assets/img/kros2019.jfif" alt="">
                <img class="img-fluid" src="../../assets/img/kros20192.jfif" alt=""> 
                <img class="img-fluid" src="../../assets/img/kros20193.jfif" alt="">
            </div>
        </div>
    </div>


    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-6">Kros RTS</div>
            <div class="datum col-md-6">2018</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-6">
                    <p>
                        {{"kros2018" | translate}} <br>
                    </p>
                    <p>
                        {{"kros2018.1" | translate}} <br>
                    </p>
                    <p style="font-weight: 600;">
                        {{"kros2018.2" | translate}} <br>
                    </p>
            </div>

            <div class="image col-12 col-md-6">
                <img class="img-fluid" src="../../assets/img/kros2018.jfif" alt="">
                <img class="img-fluid" src="../../assets/img/kros20182.jfif" alt=""> 
                <img class="img-fluid" src="../../assets/img/kros20183.jfif" alt="">
            </div>
        </div>
    </div>

    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-8"> {{"boks" | translate}}</div>
            <div class="datum col-md-4">2017</div>
        </div>
        <div class="main">
            <div class="text col-md-8">
                {{"boksT" | translate}} 
            </div>

            <div class="image col-12 col-md-4 ">
                <img class="img-fluid" src="../../assets/img/boks.jfif" alt="">
            </div>
        </div>
    </div>

    <div class="trenner"></div>

    <div style="border: 1px solid grey;" class="card card-profile container shadow">
        <div class="header">
            <div class="title col-md-8">{{"odbojka" | translate}}</div>
            <div class="datum col-md-4">2016</div>
        </div>
        <div class="main">
            <div class="text col-12 col-md-8">
                {{"odbojkaT" | translate}}
            </div>

            <div class="image col-12 col-md-4">
                <img class="img-fluid" src="../../assets/img/odbojka.jfif" alt="">
            </div>
        </div>
    </div>
</section>